name: "Release"
on:
  push:
    branches:
      - main
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Release a new version
        run: npx semantic-release
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
